@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  .shadow-bottom {
    box-shadow: inset 0 -30px 60px 0px rgba(255, 255, 255, 0.8);

    @variant dark {
      box-shadow: inset 0 -30px 60px 0px rgba(0, 0, 0, 0.6);
    }
  }
}

@layer components {
  .bottom-line:focus {
    box-shadow: inset 0 -1px 0px rgb(0, 153, 102);
  }

  .chatapp-layout-loader {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-64;
  }

  .chatapp-header {
    @apply min-h-14 shrink-0 bg-emerald-300 dark:bg-emerald-500 p-2 pl-4 md:pl-8 grid grid-cols-[2rem_3fr] md:grid-cols-1 items-center gap-x-4;
  }

  .chatapp-link-back {
    @apply col-span-1 row-span-2 flex items-center justify-center p-1 w-10 h-10 rounded-full hover:bg-green-50/50 md:hidden;
  }

  .chatapp-info-section {
    @apply w-full lg:w-128 lg:mx-auto flex divide-emerald-500 divide-x-2 gap-4 border rounded-2xl p-4;

    .info-part {
      @apply max-w-3/5 flex-1/2 flex flex-col gap-2;
    }

    h2.username {
      @apply text-2xl border-b border-transparent truncate;
    }

    p.alias {
      @apply text-sm mb-4 border-b border-transparent;
    }
  }

  .chatapp-description-section {
    @apply w-full lg:w-128 lg:mx-auto border rounded-2xl pl-4 pr-2 py-2 bg-gradient-to-br from-emerald-200 to-emerald-600 dark:from-emerald-600  dark:to-emerald-950;
  }

  .chatapp-action-section {
    @apply w-full lg:w-128 lg:mx-auto rounded-2xl p-2 flex flex-col gap-2;
  }

  .chatapp-main {
    @apply flex flex-col gap-4 px-6 py-8 overflow-y-auto;
  }

  .chatapp-group-tag {
    @apply absolute z-10 text-xs block px-2 py-1 rounded-2xl right-2 top-1/2 -translate-y-1/2;
  }

  .chatapp-chat-footer {
    @apply min-h-14 bg-green-400 dark:bg-green-800 py-2 px-6 flex shrink-0 items-center justify-center;
  }

  .chatapp-settings-section {
    @apply p-4 w-full lg:w-128 lg:mx-auto border rounded-2xl bg-emerald-300/25 grid grid-cols-2 gap-x-6 gap-y-2 items-center;
  }

  .image-placeholder-24 {
    @apply w-24 h-24 rounded-full bg-emerald-300 dark:bg-emerald-700 !flex items-center justify-center text-3xl;
  }

  .noavatar-chat-image {
    @apply w-12 h-12 rounded-[50%] text-lg !flex items-center justify-center bg-emerald-300 text-neutral-800 dark:bg-emerald-700 dark:text-white;
  }

  .chatapp-toggle {
    @apply bg-emerald-400 border-emerald-700 stroke-emerald-700 has-checked:!border-rose-700 has-checked:!text-rose-700 transition-colors;
  }

  .chatapp-user-list {
    @apply col-span-2 pl-4 pr-2 flex flex-col gap-2 max-h-54 overflow-y-auto rounded-lg py-3 border-2 border-double border-emerald-50;
  }

  .chatapp-user-item {
    @apply grid grid-cols-[auto_1fr_auto] grid-rows-2 gap-x-4 w-full items-center cursor-pointer border border-transparent p-2 rounded-lg;

    & > .username {
      @apply col-start-2 col-end-3 row-start-1 row-end-2 self-end text-sm font-semibold;
    }

    & > .alias {
      @apply col-start-2 col-end-3 row-start-2 row-end-3 self-start text-xs;
    }

    & > .item-checkbox {
      @apply col-start-3 col-end-4 row-span-2 justify-self-center;
    }
  }

  .image-holder,
  .image-holder--24 {
    @apply avatar;

    & > .image {
      @apply rounded-full absolute;
    }

    & > .no-image {
      @apply rounded-[50%] !flex items-center justify-center bg-emerald-300 dark:bg-emerald-700;
    }
  }

  .image-holder {
    & > .image {
      @apply w-12 h-12;
    }

    & > .no-image {
      @apply w-12 h-12 text-lg;
    }
  }

  .image-holder--24 {
    & > .image {
      @apply w-24 h-24;
    }

    & > .no-image {
      @apply w-24 h-24 text-5xl;
    }
  }

  .chatapp-user-layout {
    @apply grid grid-cols-1 md:grid-cols-[minmax(28rem,_1fr)_2fr] divide-x-1 divide-green-200;

    .chatapp-aside {
      @apply relative w-screen h-screen md:!block md:col-span-1 md:w-auto flex flex-col;
    }

    .aside-header {
      @apply relative shrink-0 h-4/12 min-h-[12rem] p-6 bg-green-300 dark:bg-green-800 flex flex-col;

      & > .heading-1 {
        @apply text-4xl w-4/5 truncate;
      }

      & > .aside-header-bottom {
        @apply mt-auto flex items-baseline justify-between;
      }

      .ping-container {
        @apply absolute top-0 right-0 translate-x-1/2;
      }

      .ping-ring {
        @apply absolute inline-flex h-full w-full animate-ping rounded-full bg-sky-400 opacity-75;
      }

      .ping-inner-circle {
        @apply relative inline-flex size-3 rounded-full;
      }

      .aside-avatar {
        @apply avatar absolute right-3 -bottom-4;
      }

      .aside-image-container {
        @apply relative ring-4 dark:ring-base-100 ring-white overflow-hidden;

        & > img {
          @apply absolute w-full h-full object-cover;
        }
      }

      .settings-container {
        @apply absolute top-6 right-6 border-2 p-1 w-min rounded-[50%] has-active:bg-emerald-200 dark:has-active:bg-emerald-600;

        & > .settings-link {
          @apply block hover:rotate-360 transition duration-500;
        }
      }
    }

    .aside-main {
      @apply px-8 py-4 flex-grow flex flex-col overflow-hidden;

      .heading {
        @apply mb-4 mx-auto text-center font-bold w-min;
      }

      ul.chatbox-list {
        @apply flex flex-col-reverse text-center overflow-y-auto;

        > li.chatapp-list-item {
          @apply last:rounded-t-lg first:rounded-b-lg overflow-hidden shrink-0;
        }
      }
    }
  }

  .chat-item {
    @apply flex gap-6 p-2 hover:bg-sky-200/50 transition-colors duration-300 ease-in-out;

    > .image-container {
      @apply size-12 rounded-[50%] overflow-hidden relative;

      > img.image {
        @apply w-full h-full object-cover absolute;
      }

      > p.noavatar {
        @apply w-full h-full flex justify-center items-center text-lg leading-4;
      }
    }
  }

  .chat-item--info {
    @apply flex-2/3 grid grid-cols-[1fr_auto] grid-rows-[auto_auto] gap-x-2 gap-y-1;

    > .chatname {
      @apply col-start-1 row-start-1 text-left font-semibold truncate;
    }

    > .chattime {
      @apply col-start-2 row-start-1 text-right;
    }

    > .last-messsage {
      @apply col-start-1 row-start-2 text-left truncate;
    }

    > .message-count {
      @apply col-start-2 row-start-2 flex justify-center items-center bg-green-300 size-6 rounded-[50%];
    }
  }

  .chatapp-cm {
    @apply bg-gray-300/55 dark:bg-gray-700/55 backdrop-blur-sm border border-gray-300 min-w-30 max-w-fit rounded-md p-2 relative after:content-[''] after:absolute after:border-t-12 after:border-b-12 after:border-t-transparent after:border-b-transparent;
  }

  .chatapp-left-chevron {
    @apply after:border-r-12 after:border-r-gray-300 after:border-r-gray-300  after:left-0 after:top-1/2 after:-translate-x-full after:-translate-y-1/2;
  }

  .chatapp-right-chevron {
    @apply after:border-l-12 2xl:after:border-l-0 2xl:after:border-r-12 after:border-l-gray-300 2xl:after:border-r-gray-300 after:right-0 2xl:after:left-0 after:top-1/2 after:translate-x-full 
    2xl:after:-translate-x-full after:translate-y-1/2;
  }

  .cm-btn-container {
    @apply divide-y-[1px] divide-amber-100 text-gray-900 dark:text-white
         *:first:rounded-t-md *:last:rounded-b-lg *:hover:bg-white/45 dark:*:hover:bg-amber-100/20 
         *:origin-bottom *:hover:transition *:hover:duration-500 *:has-active:bg-emerald-100/75;
  }

  .new-chat-btn {
    @apply inline-block p-4 rounded-lg bg-green-300 dark:bg-green-600 cursor-pointer hover:bg-green-600 dark:hover:bg-green-900 transition duration-300 ease-in-out active:scale-95;
  }

  .new-chat-cm {
    @apply absolute flex flex-col p-3 text-nowrap bottom-0 right-full -translate-y-12 -translate-x-4 bg-gray-500 rounded-lg space-y-2 z-101;
  }
}

@layer utilities {
  .removed-user-bg {
    @apply bg-rose-300 dark:bg-rose-700;
  }
}
